<nav>
    <div class="site-title">
        <a href="/">
            <h1>OpenCode blog</h1>
        </a>
        <p>Great Site Ever</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>