<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog | <%= title %></title>
</head>
<body>
    <nav>
        <div class="site-title">
            <a href="/">
                <h1>OpenCode blog</h1>
            </a>
            <p>Great Site Ever</p>
        </div>
        <ul>
            <li href="/">Blogs</li>
            <li href="/about">About</li>
            <li href="/blog/create">New Blog</li>
        </ul>
    </nav>

    <div class="blogs content">
        <h2>All Blogs</h2>
        OOPS , page not found : )
    </div>

</body>
</html>