<html lang="en">

    <%- include('./partials/head.ejs')  %>

<body>

        <%- include('./partials/nav.ejs')  %>


    <div class="blogs content">
        <h2>All Blogs</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit aut ad quaerat, ea cumque alias eligendi deserunt, necessitatibus magnam, excepturi dolores! Quod possimus eos tempora voluptate ratione, delectus beatae. Similique.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit aut ad quaerat, ea cumque alias eligendi deserunt, necessitatibus magnam, excepturi dolores! Quod possimus eos tempora voluptate ratione, delectus beatae. Similique.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit aut ad quaerat, ea cumque alias eligendi deserunt, necessitatibus magnam, excepturi dolores! Quod possimus eos tempora voluptate ratione, delectus beatae. Similique.</p>
    </div>

    <%- include('./partials/footer.ejs')  %>

</body>
</html>